<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<section>

    <form action="send" method="post" enctype="multipart/form-data">
        <!--/*@thymesVar id="message" type="java.lang.String"*/-->
        <h3>Select xml file to upload</h3>

        <p>
            <input name="email" id="email" placeholder="email" size="30">
        </p>
        <p>
            <input name="subject" id="subject" placeholder="subject" size="30">
        </p>
        <p>
            <textarea name="body" id="body" placeholder="mail body" cols=75 rows=5></textarea><br/>
        </p>

        <p>
            <input type="file" name="fileToUpload" id="fileToUpload" required><br/>
        </p>
        <p>
            <input type="submit" value="Upload" name="submit">
        </p>
    </form>
</section>
</body>
</html>